.log-in-form {
	border: 1px solid #cacaca;
	padding: 1rem;
	border-radius: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
}

@media(max-width: 400px) {
	.log-in-form {
		width: 90%;
	}
}

p.result {
	font-weight: bold;
	text-align: center;
}

p.result.success {
	color: #00ff00;
}

p.result.error {
	color: #ff0000;
}